html, body{
    background-color: black;
    height: 100%;
}

#infos{
    float: left;
    padding-left: 5px;
    color: white;
}

#viewport{
    border: 1px solid #333;
    position: relative;
    overflow: hidden;
}

#header {
    text-align: right;
    position: fixed;
    top: 5px;
    right: 0px;
}

#header div { float: left; }

.real-menu {
    background: #76a02a;
    height: 20px;
    margin: 0 10px;
    padding: 0 10px;
    -webkit-border-radius: .2em; 
    -moz-border-radius: .2em;
    border-radius: .2em;
}

#minerals_display {
    color: #ffffff;
}

#map{
    position: fixed;
    width: 100%;
    top: 0px;
    bottom: 201px;
    overflow: hidden;
}

#menu{
    width: 100%;    
    position: fixed;
    bottom: 1px;
    height: 200px;
    background: #E0DDD3;
}

.selected{
    border: 1px dotted green;
}

#buttons{
    float: right;
    width: 198px;
    height: 201px;
}

#buttons div {
    width: 62px;
    height: 62px;

    cursor: pointer;
    -webkit-border-radius: .8em; 
    -moz-border-radius: .8em;
    border-radius: .8em;

    float: left;
    margin-top: 3px;
    margin-right: 3px;
}

#buttons div:active {
    position: relative;
    top: 1px;
    left: 1px;
}

#buttons div:hover{
    background-color: #222222;
    cursor: pointer;
}

.minimap, .dock, .buttons div {
    background: #76A690;
}
.minimap {
    float: left;
    display: none;
    -webkit-border-radius: .8em; 
    -moz-border-radius: .8em;
    border-radius: .8em;
    width: 194px;
    margin: 3px;
    height: 194px;
}

.queue_production_item{
    float: left;
}

.queue_production_item div{
    width: 64px;
    height: 64px;
    border: 1px solid #666;
    margin-left: 1px;
}

.queue_production_item img{
    width: 64px;
    height: 64px;
}

.dock {
    float: left;
    -webkit-border-radius: .8em; 
    -moz-border-radius: .8em;
    border-radius: .8em;
    margin: 3px 6px 3px 3px;
    height: 164px;
    width: 0;
}

#mouseSelection {
    border: 1px dotted red;
}

.entityInDockListDefault {
    width: 50px;
    height: 50px;
    border: 1px dotted green;
    margin: 5px;
    float: left;
}

.entityInDockSingleDefault {
    width: 100px;
    height: 100px;
    background: red;
    margin: 0 auto;
}

.entityVisualInDockListDefault {
    position: relative; width: 54px; border-width: 50px 18px 0; border-style: solid; border-color: #D9702C transparent; margin: 50px auto;
}

.entityVisualInDockListDefault:before {
    content: ""; position: absolute; height: 0; width: 0; top: -85px; left: -18px; border-width: 0 45px 35px; border-style: solid; border-color: transparent transparent #D9702C;
}

.entityVisualInDockListSpaceInvader {
    margin: 10px auto 20px auto; width: 0px; height: 0px; border-right: 60px solid transparent; border-top: 60px solid #D9702C; border-left: 60px solid #D9702C; border-bottom: 60px solid #D9702C; border-top-left-radius: 60px; border-top-right-radius: 60px; border-bottom-left-radius: 60px; border-bottom-right-radius: 60px;
}

.entityCountersInDockListDefault h2 {
    text-align: center;
    color: #98442A;
    font-weight: bold;
}

.entityInDockContainer {
    width: 95%;
    height: 99%;
    margin: 0 auto;
    border: 1px dotted red;
}

.entityInDockLeftSubContainer {
    float: left;
    width: 30%;
    height: 100%;
    border: 1px dotted green;
}

.entityInDockRightSubContainer {
    float: left;
    width: 69.6%;
    height: 100%;
    border: 1px dotted green;
}

.entityInDockRightSubContainer h1 {
    text-align: center;
    color: #BE002C;
    font-size: 24px;
    font-weight: bold;
    margin: 30px auto;
}