html, body{
    background-color: black;
    height: 100%;
}

#infos{
    float: left;
    padding-left: 5px;
    color: white;
}

#viewport{
    border: 1px solid #333;
    position: relative;
    overflow: hidden;
}

#header {
    text-align: right;
    position: fixed;
    top: 5px;
    right: 0px;
}

#header div { float: left; }

.real-menu {
    background: #76a02a;
    height: 20px;
    margin: 0 10px;
    padding: 0 10px;
    -webkit-border-radius: .2em; 
    -moz-border-radius: .2em;
    border-radius: .2em;
}

#minerals_display {
    color: #ffffff;
}

#map{
    position: fixed;
    width: 100%;
    top: 0px;
    bottom: 201px;
    overflow: scroll;
}

#menu{
    width: 100%;    
    position: fixed;
    bottom: 1px;
    height: 200px;
    background: #333333;
}

.selected{
    border: 1px solid green;
}

#buttons{
    float: right;
    width: 264px;
    height: 201px;
}

#buttons div {
    width: 62px;
    height: 62px;

    cursor: pointer;
    -webkit-border-radius: .8em; 
    -moz-border-radius: .8em;
    border-radius: .8em;

    background-color: #111111;
    float: left;
    margin-top: 3px;
    margin-right: 3px;
}

#buttons div:active {
    position: relative;
    top: 1px;
    left: 1px;
}

#buttons div:hover{
    background-color: #222222;
    cursor: pointer;
}

.minimap {
    float: left;
    background-color: #111111;
    -webkit-border-radius: .8em; 
    -moz-border-radius: .8em;
    border-radius: .8em;
    width: 194px;
    margin: 3px;
    height: 194px;
}

.queue_production_item{
    float: left;
}

.queue_production_item div{
    width: 64px;
    height: 64px;
    border: 1px solid #666;
    margin-left: 1px;
}

.queue_production_item img{
    width: 64px;
    height: 64px;
}

.dock {
    float: left;
    -webkit-border-radius: .8em; 
    -moz-border-radius: .8em;
    border-radius: .8em;

    background-color: #111111;
    height: 100%;
}

#mouseSelection {
    border: 1px dotted red;
}